
#body-ons{
    background-color: rgb(0, 47, 0);
}
.over-ons-tekst{
    color: #e0efde ;
    display: flex;
    justify-content: center;
    align-content: center;
}
li a{
    text-decoration: none;
    display: block;
}
#img-over-ons{
    height: 60%;
    width: 40%;
}
#body-home{
    background-image: url("../Schermafbeelding\ 2026-06-01\ 124936.png");
}
nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: #47e5bc;
}
nav ul li a{
    color: #394053;
    text-decoration: none;
    padding: 8px; 
    display: block;
}
nav ul li:hover {
    background-color: #5ac1c1;
}
header{
    background-color: #47e5bc;
}
.tekst-1-homepage{
    background-color: #103900;
    color: #e0efde;
    padding: 8px;
    justify-content: space-around;
}
footer{
    background-color: #47e5bc;
    color: #394053;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 99%;
}
.img-home{
    width: 33%;
    height: 33%;
}
.img-home a img {
    width: 100%;
}
#img-home1{
    display: flex;
    justify-content: center;
}
.title-home{
    text-align: center;
    text-decoration: none;
    display: block;
    color: black;
}